<%- include('header', {path}) %>

<div class="col-md-10">
  <div class="row">
    <h2 class="m-2">Artikel Terbaru</h2>
    <span><a href="/artikel/tambah">tambah artikel baru</a></span>
  </div>
  <div class="row">
    <% artikels.forEach((item, key) => { %>
      <div class="col-md-12 m-2">
        <div class="card-body" style="background-color: white">
          <h5 class="card-title"><%= item.judul %></h5>
          <p class="card-text"><%= item.kontent.substring(0, 150)%>...</p>
          <p>category: <strong><%= item['kategori.name'] %></strong></p>
          <a href="/artikel/detail/<%= item.id %>" class="btn btn-primary">Read More</a>
          <a href="/artikel/edit/<%= item.id %>" class="btn btn-success">Edit</a>
        </div>
      </div> 
      <% }) %>
  </div>
</div>

<%- include('footer') %>
