<%- include('header', {path}) %>

<div class="col-md-10">
  <div class="row">
    <h2 class="m-2">Edit Artikel</h2>
  </div>
  <div class="row">
      <form action="/artikel/edit/<%= artikels.id %>" method="post">
        judul : <input type="text" name="judul" value="<%= artikels.judul %>"><br/>
        konten : <input type="text" name="kontent" value="<%= artikels.kontent %>"><br/>
        <button type="submit">simpan</button>
    </form>

  </div>
</div>

<%- include('footer') %>
