<%- include('header', {path}) %>

<div class="col-md-10">
  <div class="row">
    <h2 class="m-2">Kategori</h2>
  </div>
  <div class="row">
    <% kategories.forEach((item, key) => { %>
    <div class="col-md-12 m-2">
      <div class="card-body" style="background-color: white">
        <h5 class="card-title"><%= item.name %></h5>
      </div>
      <ul>
        <% item.artikel.forEach((artikel, keyArtikel) => { %>
        <li>
          <a href="/artikel/detail/<%= artikel.id %>"> <%= artikel.judul %></a>
        </li>
        <% }) %>
      </ul>
    </div>
    <% }) %>
  </div>
</div>

<%- include('footer') %>
